<html> 
    <head>   
        <title>Create Task</title> 
    </head> 
    <body>   
        <h2><center><font color="blue">Create Task</font></center></h2>   
        <center/><a href="/">Batal</a>   
        <hr><br/>
        <form method="POST" action="/tambah" align="center">
            <label>Task <br><input name="tasks" type="text" value=""></label><br>       
            <label><br>Assignee <br><input name="assignee" type="text" value=""></label><br>       
            <label><br>Deadline <br><input name="deadline" type="text" value=""></label><br>       
            <label><br>Status <br><input name="status" type="number" value=""></label><br><br/>      
            <input type="submit" value="Tambah" />
        </form> 
 
</body> 
</html>
